*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --btn-header-bg-active-color: #666CA3;
  --title-color: #13183F;
  --text-color: #83869A;
  --hyperlink-color: #F74780;
  --hyperlink-active-color: #FFA7C3;
  --main-gradient: linear-gradient(#F02AA6, #FF6F48);
  --footer-gradient: linear-gradient(#4851FF, #F02AA6);
  --bg-gradient: linear-gradient(#FFFFFF, #F0F1FF);
  --card-shadow: 0 25px 50px rgba(6, 22, 141, 0.05);
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1rem;
}

/* Header and footer layout */
header, footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

#btn-header, #btn-footer {
  border: none;
  border-radius: 28px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  transition: all 200ms ease-in-out;
}

.logo {
  width: 89px;
}

/* Header styling */
#btn-header {
  background-color: var(--title-color);
}

#btn-header:hover {
  background-color: var(--btn-header-bg-active-color);
  cursor: pointer;
}

/* Footer styling */
footer {
  background-color: var(--title-color);
  padding: 2.25rem 1rem;
}

#btn-footer {
  background-image: var(--footer-gradient);
  position: relative;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

#btn-footer:hover {
  cursor: pointer;
}

#btn-footer::before {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 28px;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms ease-in-out;
  z-index: -1;
}

#btn-footer:hover::before {
  opacity: 1;
}

/* Main section */
main {
  padding: 1.375rem 1rem 4.125rem 1rem;
}

main h1 {
  color: var(--title-color);
  font-size: 2.5rem;
  font-weight: 800;
}

main p {
  color: var(--text-color);
  padding: 1.625rem 0 1.5rem 0;
  line-height: 1.625rem;
}

main #btn-main {
  background-image: var(--main-gradient);
  border: none;
  border-radius: 31.5px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  padding: 1rem 2.375rem;
  position: relative;
  transition: all 200ms ease-in-out;
  z-index: 1;
}

main #btn-main:hover {
  cursor: pointer;
}

main #btn-main::before {
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 200ms ease-in-out;
  z-index: -1;
}

main #btn-main:hover::before {
  opacity: 1;
}

main #img-main {
  background-image: url(assets/image-hero-mobile@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-top: 92.05%;
}